{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">

    <title> {{ title }} </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'blog/css/fontawesome.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'blog/css/templatemo-stand-blog.css' %}"> -->
    <link rel="stylesheet" href="{% static 'blog/css/owl.css' %}">

    <link rel="icon" type="image/x-icon" href="{% static 'blog/favicon.ico' %}">

    <script src="https://kit.fontawesome.com/21ee534458.js" crossorigin="anonymous"></script>

    {% block head %}
    {% endblock %}
    <!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
</head>

<body>
    {% include "components/navbar.html" %}

    {% block content %}
    {% endblock %}

    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}

    {% block scripts %}
    {% endblock %}

</body>

</html>